@using System.Activities.Statements
@using WhereIsMyShit.Controllers
@using WhereIsMyShit.Models
@model List<WhereIsMyShit.Models.LoanItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of my stuff</h2>

<div>
    <a href="@Url.Action("Create", "Items")" class="glyphicon glyphicon-plus-sign" role="button"></a>
</div>

<div>
    <div class="row">
        <h3 class="col-md-5">Item Name</h3>
        <h3 class="col-md-5">Borrowed By</h3>
    </div>
    @foreach (var model in Model)
    {
        <div class="row">
            <div class="col-md-5">@Html.Label(model.Name)</div>
            <div class="col-md-5">Placeholder</div>
            <div class="col-md-2">
                <a href="@Url.Action("Delete", new {itemId = model.Id})" class="glyphicon glyphicon-trash" role="button"></a>
            </div>
        </div>
    }

</div>



